.title {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: bold;
}

.press-card {
  width: 400px;
  margin: 10px;
}

.press-container {
  padding: 20px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
