.p-3 {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
}

#profile {
  width: 50%;
}
#profileTitle {
  text-align: center;
}

#profileDiv {
  margin-top: 10%;
}
#modalHeaderFooter {
  background-color: rgb(216, 232, 247);
}